body {
    background-color: #31334F;
    color: #ffffff;
    font-family: 'Arimo', sans-serif;
    font-size: 25px;

    /* for sticky footer */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
  /* for sticky footer */
  flex: 1 0 auto;
} 
        
#secondParallax {
    height: 300px;
  }

.page-footer {
  background-color: #222330;
  padding-bottom: 15px;
  font-size: 15px;
}

#callingCard {
  background-color: #222330;
  margin-top: 10px;
}

#callingCard img {
  padding: 15px 5px 5px 5px;
  /* height: 250px;
  width: auto; */
}

#callingCard p {
  margin: 5px;
}

.name, .email{
  color: #222330;
}

.card {
    background-color: #222330;
    /* background-color: #768EB5; */
    color: #FFFFFF;
    padding: 15px;
    margin: 10px;
}

.card .card-action{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#callingCard img {
  width: 280px;
  height: auto;
}

#portfolio .card-image {
    border: solid 3px #FFFFFF;
    /* border: solid 3px #768EB5; */
}


.fixed-action-btn{
  left: 5px;/*desired value*/
  top: 10px;
  }

/* Grabbed this from Chrome Inspector */
a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #DB99B9;
}

/* this is for the tool tip */
.material-tooltip {
  background-color: #222330;
  color: #DB99B9;
}

.sidenav {
    background-color: #31334F;
    color: #ffffff;
}

p {
  line-height: 1.5em;
}

a {
    color: #DB99B9;
}


.sidenav li>a {
  color: #DB99B9;
  font-size: 25px;
}

.sidenav .user-view .name, .sidenav .user-view .email {
  line-height: 24px;
  font-size: 25px;
}

.btn-floating {
    background-color: #DB99B9;
    opacity: 0.8;
}


@media (max-width: 1200px) {
  body {    
    font-size: 25px;
  }
}
  @media (max-width: 1000px) {
  }
  @media (max-width: 800px) {
    body {    
      font-size: 20px;
    }

    #secondParallax {
      height: 100px;
    }
  }
  /* iphone 6 plus is 414px*/
  /* @media (max-width: 470px) { */
    @media (max-width: 700px) {

    /* the javascript will turn off Parallax at 400*/
    /* need to fix the image */
    #firstParallax {
      position: relative;
      position: absolute;
      top:-120px;
    }    


    #firstParallax img{
      max-width: 100%;
      height: auto;
    }    
    
    #secondParallax {
      position: relative;
      height: 100px;
    }

    #secondParallax img {
      max-width: 100%;
      height: auto;
      position: absolute;
      top:-120px;
    }


}

    /* because I no longer want two items per row */
    /* .imgcontainer:nth-child(even) {
      margin-right: auto;
  } */
